<section class="lib-section cl-section" id="code-block">
    <div class="lib-section-title">⌨ Code</div>
    <div class="lib-section-desc">
        Inline <code>code</code>, keyboard shortcuts with <code>&lt;kbd&gt;</code>, and <code>&lt;pre&gt;</code> blocks styled by <code>_native.css</code>.
    </div>

    <div class="lib-component">
        <div class="lib-component-label">Inline code &amp; kbd</div>
        <div class="lib-preview">
            <article>
                <p>
                    Use <code>const</code> for block-scoped constants. Press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>I</kbd> to open DevTools.
                </p>
                <p>
                    Run <code>npm install</code> then <code>npm run dev</code> to start the server.
                </p>
            </article>
        </div>
        <div class="lib-code-wrapper">
            <div class="lib-code-container">
                <div class="lib-code" data-raw='<p>Use <code>const</code> for constants.</p>
<p>Press <kbd>Ctrl</kbd> + <kbd>S</kbd> to save.</p>'>
                    <span class="k">&lt;p&gt;</span><span class="t">Use </span><span class="k">&lt;code&gt;</span><span class="t">const</span><span class="k">&lt;/code&gt;</span><span class="t"> for constants.</span><span class="k">&lt;/p&gt;</span><br />
                    <span class="k">&lt;p&gt;</span><span class="t">Press </span><span class="k">&lt;kbd&gt;</span><span class="t">Ctrl</span><span class="k">&lt;/kbd&gt;</span><span class="t"> + </span><span class="k">&lt;kbd&gt;</span><span class="t">S</span><span class="k">&lt;/kbd&gt;</span><span class="k">&lt;/p&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="lib-component">
        <div class="lib-component-label">Pre block</div>
        <div class="lib-preview">
            <article>
                <pre><code>{"function greet(name) {\n  return 'Hello, ' + name + '!';\n}\n\nconsole.log(greet('World'));"}</code></pre>
            </article>
        </div>
        <div class="lib-code-wrapper">
            <div class="lib-code-container">
                <div class="lib-code" data-raw='&lt;pre&gt;&lt;code&gt;function greet(name) { ... }&lt;/code&gt;&lt;/pre&gt;'>
                    <span class="k">&lt;pre&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;code&gt;</span><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="t">function greet(name) &#123;</span><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="t">return 'Hello, ' + name + '!';</span><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="t">&#125;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;/code&gt;</span><br />
                    <span class="k">&lt;/pre&gt;</span>
                </div>
            </div>
        </div>
    </div>
</section>
