<section class="lib-section cl-section" id="controls">
    <div class="lib-section-title">🎛 Controls</div>
    <div class="lib-section-desc">
        Native checkboxes, radio buttons, and switches (<code>role="switch"</code>) styled by <code>_native.css</code>.
    </div>

    <div class="lib-component">
        <div class="lib-component-label">Checkbox</div>
        <div class="lib-preview">
            <article>
                <label><input type="checkbox" checked /> Checked option</label>
                <label><input type="checkbox" /> Unchecked option</label>
                <label><input type="checkbox" disabled /> Disabled</label>
                <label><input type="checkbox" disabled checked /> Disabled checked</label>
            </article>
        </div>
        <div class="lib-code-wrapper">
            <div class="lib-code-container">
                <div class="lib-code" data-raw='<label><input type="checkbox" checked> Checked</label>
<label><input type="checkbox"> Unchecked</label>
<label><input type="checkbox" disabled> Disabled</label>'>
                    <span class="k">&lt;label&gt;&lt;input</span> <span class="s">type</span>=<span class="cn">"checkbox"</span> <span class="s">checked</span><span class="k">&gt;</span><span class="t"> Checked</span><span class="k">&lt;/label&gt;</span><br />
                    <span class="k">&lt;label&gt;&lt;input</span> <span class="s">type</span>=<span class="cn">"checkbox"</span><span class="k">&gt;</span><span class="t"> Unchecked</span><span class="k">&lt;/label&gt;</span><br />
                    <span class="k">&lt;label&gt;&lt;input</span> <span class="s">type</span>=<span class="cn">"checkbox"</span> <span class="s">disabled</span><span class="k">&gt;</span><span class="t"> Disabled</span><span class="k">&lt;/label&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="lib-component">
        <div class="lib-component-label">Radio buttons</div>
        <div class="lib-preview">
            <article>
                <label><input type="radio" name="cl-radio" checked /> Option A</label>
                <label><input type="radio" name="cl-radio" /> Option B</label>
                <label><input type="radio" name="cl-radio" /> Option C</label>
                <label><input type="radio" name="cl-radio" disabled /> Disabled</label>
            </article>
        </div>
        <div class="lib-code-wrapper">
            <div class="lib-code-container">
                <div class="lib-code" data-raw='<label><input type="radio" name="plan" checked> Option A</label>
<label><input type="radio" name="plan"> Option B</label>
<label><input type="radio" name="plan"> Option C</label>'>
                    <span class="k">&lt;label&gt;&lt;input</span> <span class="s">type</span>=<span class="cn">"radio"</span> <span class="s">name</span>=<span class="cn">"plan"</span> <span class="s">checked</span><span class="k">&gt;</span><span class="t"> Option A</span><span class="k">&lt;/label&gt;</span><br />
                    <span class="k">&lt;label&gt;&lt;input</span> <span class="s">type</span>=<span class="cn">"radio"</span> <span class="s">name</span>=<span class="cn">"plan"</span><span class="k">&gt;</span><span class="t"> Option B</span><span class="k">&lt;/label&gt;</span><br />
                    <span class="k">&lt;label&gt;&lt;input</span> <span class="s">type</span>=<span class="cn">"radio"</span> <span class="s">name</span>=<span class="cn">"plan"</span><span class="k">&gt;</span><span class="t"> Option C</span><span class="k">&lt;/label&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="lib-component">
        <div class="lib-component-label">Switch (role="switch")</div>
        <div class="lib-preview">
            <article>
                <label>
                    <input type="checkbox" role="switch" checked />
                    Notifications enabled
                </label>
                <label>
                    <input type="checkbox" role="switch" />
                    Dark mode
                </label>
                <label>
                    <input type="checkbox" role="switch" disabled />
                    Analytics (disabled)
                </label>
            </article>
        </div>
        <div class="lib-code-wrapper">
            <div class="lib-code-container">
                <div class="lib-code" data-raw='<label>
  <input type="checkbox" role="switch" checked>
  Notifications enabled
</label>
<label>
  <input type="checkbox" role="switch">
  Dark mode
</label>'>
                    <span class="k">&lt;label&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;input</span> <span class="s">type</span>=<span class="cn">"checkbox"</span> <span class="s">role</span>=<span class="cn">"switch"</span> <span class="s">checked</span><span class="k">&gt;</span><br />
                    &nbsp;&nbsp;<span class="t">Notifications enabled</span><br />
                    <span class="k">&lt;/label&gt;</span><br />
                    <span class="k">&lt;label&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;input</span> <span class="s">type</span>=<span class="cn">"checkbox"</span> <span class="s">role</span>=<span class="cn">"switch"</span><span class="k">&gt;</span><br />
                    &nbsp;&nbsp;<span class="t">Dark mode</span><br />
                    <span class="k">&lt;/label&gt;</span>
                </div>
            </div>
        </div>
    </div>
</section>
