<section class="lib-section cl-section" id="lists">
    <div class="lib-section-title">≡ Lists</div>
    <div class="lib-section-desc">
        Unordered, ordered, and nested lists styled by <code>_native.css</code>.
    </div>

    <div class="lib-component">
        <div class="lib-component-label">Unordered list</div>
        <div class="lib-preview">
            <article>
                <ul>
                    <li>First item</li>
                    <li>Second item with <a href="#">a link</a></li>
                    <li>Third item
                        <ul>
                            <li>Nested item one</li>
                            <li>Nested item two</li>
                        </ul>
                    </li>
                    <li>Fourth item</li>
                </ul>
            </article>
        </div>
        <div class="lib-code-wrapper">
            <div class="lib-code-container">
                <div class="lib-code" data-raw='<ul>
  <li>First item</li>
  <li>Second item</li>
  <li>Third item
    <ul>
      <li>Nested item</li>
    </ul>
  </li>
</ul>'>
                    <span class="k">&lt;ul&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;li&gt;</span><span class="t">First item</span><span class="k">&lt;/li&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;li&gt;</span><span class="t">Second item</span><span class="k">&lt;/li&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;li&gt;</span><span class="t">Third item</span><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="k">&lt;ul&gt;</span><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="k">&lt;li&gt;</span><span class="t">Nested item</span><span class="k">&lt;/li&gt;</span><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="k">&lt;/ul&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;/li&gt;</span><br />
                    <span class="k">&lt;/ul&gt;</span>
                </div>
            </div>
        </div>
    </div>

    <div class="lib-component">
        <div class="lib-component-label">Ordered list</div>
        <div class="lib-preview">
            <article>
                <ol>
                    <li>Design the layout</li>
                    <li>Write semantic HTML</li>
                    <li>Apply classless CSS
                        <ol>
                            <li>Link the stylesheet</li>
                            <li>Set data-theme</li>
                        </ol>
                    </li>
                    <li>Ship it</li>
                </ol>
            </article>
        </div>
        <div class="lib-code-wrapper">
            <div class="lib-code-container">
                <div class="lib-code" data-raw='<ol>
  <li>Design the layout</li>
  <li>Write semantic HTML</li>
  <li>Apply classless CSS
    <ol>
      <li>Link the stylesheet</li>
      <li>Set data-theme</li>
    </ol>
  </li>
  <li>Ship it</li>
</ol>'>
                    <span class="k">&lt;ol&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;li&gt;</span><span class="t">Design the layout</span><span class="k">&lt;/li&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;li&gt;</span><span class="t">Write semantic HTML</span><span class="k">&lt;/li&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;li&gt;</span><span class="t">Apply classless CSS</span><span class="k">&lt;/li&gt;</span><br />
                    &nbsp;&nbsp;<span class="k">&lt;li&gt;</span><span class="t">Ship it</span><span class="k">&lt;/li&gt;</span><br />
                    <span class="k">&lt;/ol&gt;</span>
                </div>
            </div>
        </div>
    </div>
</section>
